.App {
  text-align: center;
}

.search-bar {
  margin: 20px;
  padding: 10px;
  font-size: 1.2em;
  width: 80%;
  max-width: 500px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
